body{
    margin-top:0px;
    background-color:black;
}
#main {
    display: flex;
    flex-direction: row;
    /*border:solid red;*/
    height: 90px;
    padding:10px;
    margin-bottom: 0px;
    justify-content: space-around;
    width: 100%;
    h1{
        color: white;
        /*border:solid red;*/
        font-size: 45px;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        align-content: center;
    }

    button{
        color: white;
        height: auto;
        background: #dda15e;
        border-radius: 10px;
        
        margin-top: 25px;
        margin-bottom: 0px;
        text-align: center;
        align-content: center;
        width: auto;
        height: 60%;
        margin:0px;
       
        
    }

}
#serviceOption{
    height: auto;
    align-content: center;
    display: none;
    
    justify-content: space-between;
    /*border:solid rebeccapurple;*/
    ul{
        list-style-type: none;
        padding-left: 0px;
    }
        li{
            color: white;
            /*border: solid red;*/
            text-align: center;
            font-size: 18px;
            margin-top: 5px;
            padding-bottom: 5px;
            border-bottom: solid white;
        }
}

#serviceOption ul li:hover{
    background-color: azure;
    color: black;

}
@media only screen and (min-width:630px){
    #serviceOption{
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
        li{
            width: 45%;
            text-align: center;
            
        }
    }
}
@media only screen and (min-width:1250px){
    #serviceOption{
        ul{
            padding-left: 30px;
            padding-right: 30px
        }
        li{
            font-size: 20px;
        }
    }
}

@media only screen and (min-width:1500px){
    #serviceOption{
        ul{
            padding-left: 50px;
            padding-right: 50px
        }
        li{
            font-size: 22px;
        }
        
    }
}
@media only screen and (min-width:1680px){
    #serviceOption{
        ul{
            padding-left: 70px;
            padding-right: 70px
        }
        li{
            font-size: 25px;
        }
        
    }
}
#mainsecond{
    /*border: solid red;*/
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;

    div{
        align-content: cente;
        h1{
            color: white;
            /*border:solid red;*/
            font-size: 45px;
            height: auto;
            margin-top: 0px;
            margin-bottom: 0px;
            align-content: center;
        } 
    }   

    #menu{
        /*border: solid red;*/
        height: 30px;
        width: 30px;
        margin: 5px 0px 5px 0px;
        
    }
    #menunav{
        align-content: center;
        height: 80%;
        display: none;
        ul{
            align-content: center;
            color:white;
            list-style-type: none;
            padding-left:0px;
            
           li{
            margin-bottom: 5px;
            
            padding-bottom: 5px;
            text-align: center;
           }
        }
    }
    div{
        align-content: center;
        button{
            color: white;
            height: auto;
            background: #dda15e;
            border-radius: 10px;
            
            margin-top: 25px;
            margin-bottom: 0px;
            text-align: center;
            align-content: center;
            width: 100px;
            height: auto;
            margin:0px;
           
            
        }
    }
   
}

#undermain{
    display: flex;
    /*border:solid purple;*/
    width:70%;
    justify-content: space-evenly;
    align-items: center;
    
 
    
   
}
#TitleContent{
    background-image: url('../images/titlecontentbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width:100%;
    height: 756px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    div{
        display:flex;
        
        width: 70%;
        h1{
            font-size: 45px;
            color:white;
        }
        
    }
    p{
        font-size: 25px;
        color:white;
        text-align: center;
        padding: 50px;
    }
    
    
}
@media only screen and (max-width:1070px){
    h1{
        font-size: 35px!important;
    }
    p{
        padding: 20px!important;
        font-size: 20px!important;
    }
    
}

#nav{
    color: aliceblue;
    font-size: 30px;
    border-right: solid white ;
    border-width: 1px;
    padding-right: 80px;
    margin-left: 0px;
    padding-left: 0px;
}
@media only screen and (max-width: 1550px){
    #nav{
        padding-right: 50px;
        font-size: 28px;
    }
}
@media only screen and (max-width: 1332px){
    #main{
        div{
            h1{
                font-size: 40px;
            }
        }
    }
    #nav{
        padding-right: 30px;
        font-size: 26px;

    }
}
@media only screen and (max-width: 1100px){
    #main{
        div{
            h1{
                font-size: 38px;
            }
        }
    }
    #nav{
        padding-right: 10px;
        font-size: 24px;
    }
    #TitleContent{
        h1{
            font-size: 43px!important;
        }
        p{
            font-size: 22px;
        }
    }
}
@media only screen and (max-width: 850px){
    #main{
        div{
            h1{
                font-size: 30px!important;
            }
        }
    }
    #nav{
        padding-right: 12px;
        font-size: 20px;
    }
    #TitleContent{
        h1{
            font-size: 40px!important;
        }
        p{
            font-size: 21px;
        }
    }
}
@media only screen and (max-width: 700px){
    
    #nav{
        border:none;
        padding-right: 2px;
        font-size: 20px;
    }
    #TitleContent{
        h1{
            font-size: 35px!important;
        }
        p{
            font-size: 18px!important;
        }
    }

}
@media only screen and (max-width: 630px){
    #main{
        display: none;
    }
}
@media only screen and (min-width: 630px){
    #mainsecond{
        display: none;
    }
}
/*After 630px remove the middle nav*/
@media only screen and (max-width:630px){
    #TitleContent{
        h1{
            font-size: 30px!important;
        }
        p{
            padding:10px!important;
            font-size: 16px!important;
        }
    }
}

/* ---------------Second Page----------------------- */

.secondMain{
    display:flex;
    flex-direction: column;
    height: 600px;
    /*border: solid aquamarine;*/
}
#upContainer{
    display: flex;
    /*border:solid green;*/
    justify-content: center;
    h1{
        text-align: center ;
        color: white;
        /*border:solid purple;*/
        width: 50%;
    }
    
    
}
#downContainer{
    /*border:solid red;*/
    height: 100%;
    display: flex;
    flex-direction: row;
}
#downOne{
    /*border: solid blue;*/
    width:70%;
    display: flex;
   
    justify-content: center;
    
    #underOne{
        /*border: dotted red;*/
        width: 80%;
        height: 100%;
        padding-top: 45px;
        
        p{
            /*border: solid green;*/
            color: white;
            font-size: 25px;
            
        }
        #underOD{
            /*border: solid blue;*/
            height: auto;

            h3{
                color: white;
                margin-top: 0px;
                margin-bottom: 0px;
                /*border: solid brown;*/
                font-size: 25px;
            }
            p{
                /*border:solid green;*/
                margin-top: 0px;
                margin-bottom: 0px;
                color:white;
                font-size: 22px;
            }
            ul{
                color: white;
                /*border: solid purple;*/
                font-size: 22px;
            }

        }
        
    }
    
}

@media only screen and (max-width: 1285px){
    #underOne{
        padding-top: 0px !important;
        p{
            font-size: 22px!important;
        }

        #underOD{
            h3{
                font-size: 20px !important;
            }
            ul{
                font-size: 18px!important;
            }
        }
    }

    
}



#downSecond{
    /*border: solid orange;*/
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    #underSecond{
        /*border: solid purple;*/
        width:25%;
        
    }
}

@media only screen and (max-width: 1332px){
    #downSecond{
        height: 85%;
    }
}
@media only screen and (max-width:1070px){
    .secondMain{
        height: auto;
    }
    #downContainer{
        flex-direction: column;
        height: auto;
        #downOne{
            width:100%;
        }
        #downSecond{
            width: 100%;
        }
    }
}




/*-------------Third Page ----------------*/

.thirdMain{
    height: 350px;
    background: url("../images/ThirdLeft.webp");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px 50px 150px;

    #leftContainer{
        /*border: solid red;*/
        align-content: center;
        width: 40%;
        h1{
            text-align: center;
        
        }
    }

    #rightContainer{
        /*border: solid black;*/
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3{
            font-size: 25px;
        }
        p{
            font-size: 20px;
            padding-bottom:30px;
        }
        
        button{
            width: 90px;
            margin-left: 20px;
            height: 40px;
        }
        

    }
}
@media only screen and (max-width:1500px) {
    #leftContainer{
        width: 50% !important;
    }
    #rightContainer{
        width:50%;
    }
}
@media only screen and (max-width:1070px) {
   .thirdMain{
    height: auto;
    
    flex-direction: column;
   }
   #leftContainer{
    width: 100%!important;
   }
   #rightContainer{
    width: 100%!important;
   }
}
@media only screen and (max-width: 850px){
    .thirdMain{
        padding: 5px;
    }
}

@media only screen and (max-width:630px){
    #leftContainer{
        h1{
            font-size: 25px!important;
        }
    }
}
/*-------------Forth Page ----------------*/

.forthMain{
    height: 1000px;
    background: url("..//images/servicebg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 40px 80px 40px 80px;
    
    #forthTop{
        /*border: solid black;*/
        margin-bottom: 40px;
        
        h1{
            text-align: center;
            color: white;
        }
    }

    #forthDown{
       
        height: 100%;
        /*border: solid green;*/
        display: flex;
        flex-direction: column;
       
        justify-content: space-between;





        #FD{
            height: 45%;
            /*border: solid orange;*/
            display: flex;
            justify-content: space-between;
            

            #underFD{
                
                width: 300px;
                /*border: solid red;*/
                display:flex;
                flex-direction: column;
                padding-left: 30px;
                background: url('../images/uservicebg.avif') ;
                
                


                #Symbol{
                    margin-top: 30px;
                    margin-bottom: 15px;
                    /*border: solid red;*/
                    height: 60px;
                    width: 70px;
                }
                #Heading{
                    /*border: solid yellow;*/
                    height: auto;
                    width: auto;
                }
                #Paragraph{
                    /*border: solid green;*/
                    height: auto;
                    width: 75%;
                }


            }
        }



        
    }

}
@media only screen and (max-width: 1530px){
    #FD{
        gap: 10px;
    }
}
@media only screen and (max-width: 1330px){
    #Heading{
        h2{
            font-size: 20px;
        }
    }
    #Paragraph{
        width: 80%;
        p{
            font-size: 15px;
        }
        
    }
}
@media only screen and (max-width: 1200px){
    #underFD{
        padding-left: 5px !important;
    }
}

@media only screen and (max-width:1070px){
    .forthMain{
        height: auto!important;
    }
    #FD{
        flex-wrap: wrap;
        justify-content: center !important;
        gap:20px 80px;
        margin-bottom: 1.5rem;
        #underFD{
            p{
                width: 100% !important;
                padding-left: 0px!important;
            }
        }
    }

    
}


/*-------------Fifth Page ----------------*/

.fifthMain{
    /*border:solid blue;*/
    height: 700px;
    #fifthTop{
        /*border: solid red;*/
        height: auto;
        h1{
            color: white;
            text-align: center;
            margin-bottom: 30px;
            font-size: 34px;
        }
        
    }
    #fifthDown{
        /*border: solid green;*/
        height: 90%;
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(6, 1fr);
        #item-1{
            /*border:solid yellow;*/
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 4;
            background-image: url('../images/industries_itbg.webp');
            background-size: cover;
            background-position: center; /* Centers the image */
            align-content: center;
            h1{
                color: white;
                font-size: 40px;
                margin-top: 0px;
                
            }
            
        }
        #item-2{
            /*border:solid yellow;*/
            background-image: url('../images/industries_hcbg.jpeg');
            background-size: cover;
            background-position: center;
            align-content: center;
            h1{
                font-size: 40px;
            }
        }
        #item-3{
            /*border:solid yellow;*/
            grid-column: span 2;
            background-image: url('../images/industries_telecombg.jpg');
            background-size: cover;
            background-position: center;
            h1{
                font-size: 40px;
                text-align: center;
            }
            
        }
        #item-4{
            /*border:solid yellow;*/
            grid-column:span 2;
            background-image: url('../images/industries_f&bbg.jpg');
            background-size: cover;
            background-position: center;
            align-content: center;
            h1{
                font-size: 40px;
                text-align: right;
            }
        }
        #item-5{
            /*border:solid yellow;*/
            background-image: url('../images/industries_r&tbg.jpeg');
            background-size: cover;
            background-position: center;
            align-content: end;
            h1{
                font-size: 40px;
                text-align: center;
                color:black;
            }
        }
        #item-6{
            /*border:solid yellow;*/
            grid-column: span 3;
            background-image: url('../images/industries_l&sbg.jpg');
            background-size: cover;
            background-position: center;
            padding-top: 10px;
            
            h1{
                font-size: 40px;
                text-align: left;
            }
        }

    }
}
@media only screen and (max-width:1070px){
    #fifthDown{
        display: flex !important;
        flex-wrap: wrap;
        #item-1{
            width: 50%;
        }
        #item-2{
            width: 50%;
        }
        #item-3{
            width: 50%;
        }
        #item-4{
            width: 50%;
        }
        #item-5{
            width: 50%;
        }
        #item-6{
            width: 50%;
        }

    }



    #item-3{
        h1{
            font-size: 30px!important;
            text-align: left!important;
        }
    }
    
}

@media only screen and (max-width:850px){
    #fifthDown{
        justify-content: space-between;
        #item-1{
            width: 50%;
        }
        #item-2{
            width: 50%;
        }
        #item-3{
            width: 50%;
        }
        #item-4{
            width: 50%;
        }
        #item-5{
            width: 50%;
        }
        #item-6{
            width: 50%;
        }

    }
}
    @media only screen and (max-width:630px){
        #fifthDown{
            
            #item-1{
                width: 100%;
            }
            #item-2{
                width: 100%;
            }
            #item-3{
                width: 100%;
            }
            #item-4{
                width: 100%;
            }
            #item-5{
                width: 100%;
            }
            #item-6{
                width: 100%;
            }
    
        }
    }
/*-------------Sixth Page ----------------*/

.sixthMain{
    /*border: solid purple;*/
    height: 500px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    #sixthOne{
        /*border: solid brown;*/
        width: 20%;
        align-content: center;
        h1{
            color: white;
        }
        h3{
            color: white;
        }
        
    }

    #sixthTwo{
        /*border: solid brown;*/
        width: 20%;
        align-content: center;

        ul{
            color:white;
            list-style-type: none;
            font-size: 20px;
        }
    }

    #sixthThree{
        /*border: solid brown;*/
        width: 20%;
        display: flex;
        flex-direction: column;
        
        #stOne{
            /*border: solid blueviolet;*/
            height: 70px;
            display:flex;
            justify-content: space-between;
            padding-top:60px;
            margin-bottom: 60px;
            #icon{
                /*border:solid green;*/
                width: 20%;
            }
        }

        #stTwo{
            /*border: solid blueviolet;*/
            height: auto;
            ul{
                color:white;
                list-style-type: none;
                padding-left: 0px;
                font-size: 20px;
            }
        }
    }

    #sixthFourth{
        /*border: solid brown;*/
        width: 25%;
        align-content: center;
        form{
            #fl{
                /*border:solid green;*/
                display: flex;
                gap: 10px
            }
            /*border: solid #EFBBCC;*/
            color: white;
            label{
                /*border:solid red;*/
                font-size: 20px;
            }

            #ep{
                /*border:solid green;*/
                display: flex;
                gap: 10px
            }
            #com{
                display: flex;
                flex-direction: column;
                textarea{
                    width:80%;
                }
            }
        }
    }


}

@media only screen and (max-width:1070px){
    .sixthMain{
        
        gap: 20px;
    
        #sixthOne{
            width: 40%!important;
        }   
        #sixthTwo{
            width: 40%!important;
        }
        #sixthThree{
            width: 70%!important;
        }
        #sixthFourth{
            width: 70%!important;
        }
    }

}




@media only screen and (max-width:630px){
    .sixthMain{
        height: auto ;
        flex-direction: column !important;
        justify-content: center;
        align-items: center!important;
        gap: 30px;
        #sixthOne{
            width: 70%!important;
            h1{
                text-align: center;
            }
            h3{
                text-align: center;
            }

        }
        #sixthTwo{
           display: none;
        }
        #sixthThree{
            width: 70%!important;
            margin:0px !important;
            justify-content: center;
            align-items: center;
        }
        #sixthFourth{
            width: 70%!important;
            form{
                small{
                    margin-left: 25%;
                }
                button{
                    margin-left: 35%;
                }
            }
            #fl{
                flex-direction: column!important;
                align-items: center;
            }
            
            #ep{
                flex-direction: column;
                align-items: center;
            }
            #com{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media only screen and (max-width:1400px){
    .sixthMain{
        height: auto ;
        flex-wrap: wrap;
        #sixthOne{
            width: 30%;
        }
        #sixthTwo{
            width: 30%;
        }
        #sixthThree{
            width: 30%;
        }
        #sixthFourth{
            width: 50%;
        }
    }

}

@media only screen and (max-width:500px){
    #sixthFourth{
        small{
            margin-left: 15%!important;
        }
        button{
            margin-left: 25%!important;
        }
        #fl{
            div{
                display: flex;
                flex-direction: column;
            }
        }
        #ep{
            div{
                display: flex;
                flex-direction: column;
            }
        }
        #com{
            label{
                font-size: 15px;
            }
        }
    }
}